/* || General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    background-color: #F5F7FA;
}

main {
    padding: 0 40px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #B1B1B1;
    font-size: 18px;
    font-weight: 500;
}

html {
    font-family: 'Inter', sans-serif;
}

.page__wrapper--container {
    display: flex;
}

.main__header--container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* || Typography*/

h1 {
    font-size: 28px;
    font-weight: 600;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
}

h3 {
    font-size: 17px;
    font-weight: 600;
}

h1,
h2,
h3 {
    color: #343C6A;
}

/* || Utilities */

.red__background {
    background-color: #FFE0EB;
}

.light__red--background {
    background-color: #FFE0EB;
}

.green__background {
    background-color: #DCFAF8;
}

.yellow__background {
    background-color: #FFF5D9;
}

.blue__background {
    background-color: #E7EDFF;
}

.big__black--span {
    font-size: 20px;
    color: #232323;
    font-weight: 600;
}

.light__blue--span {
    color: #718EBF;
    font-size: 16px;
    font-weight: 400;
}


/* || Nav */

.navigation__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 35px 40px;
    background-color: #fff;
    height: fit-content;
    height: 1000px;
}


.navigation__container--item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navigation__container--item li {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 26px;
}

.nav__item a {
    color: #1814F3;
}

.active__nav--container {
    width: 6px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    background: #1814F3;
    left: 0px;
    position: absolute;
}




/* || Header */

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 40px;
    flex-wrap: wrap;
}

.header__container--rightside {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__search--input {
    all: unset;
}

.header__search--input::placeholder {
    color: #8BA3CB;
    font-size: 15px;
    font-weight: 400;
}

.search__container--header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F5F7FA;
    width: 255px;
    height: 50px;
    border-radius: 25px;
    padding-left: 30px;
}

.header__icon--container {
    width: 50px;
    height: 50px;
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.header__user--image {
    border-radius: 50%;
}



/* || Main */

/*main__first--section*/
.dark__big--span {
    font-size: 20x;
    color: #232323;
    font-weight: 600;
}

.main__first--section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__money--container {
    width: 255px;
    height: 120px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.about__money--container div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.money__container--image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/*main__second--section*/

.loans__table {
    width: 1110px;
    height: 625px;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px 40px;
}

.table__header--container {
    text-align: left;
    color: #718EBF;
    font-weight: 500;
}

.loans__table button {
    width: 100px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #1814F3;
    color: #1814F3;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.red__span {
    color: #FE5C73;
}

